*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
ENV_VNPAY_CONFIG.txt
VNPAY_SETUP.md
taildw.html
boots.html
fixDB
promp.txt
docs/DDD_DATABASE_REPORT.md
class
docs/REVERB_SETUP.md