@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer base {
    :root {
        --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
    }

    body {
        font-family: var(--font-sans);
    }
}
